[submodule "src/service_backend/external/vcpkg"]
	path = src/service_backend/external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "src/sp_backend/src/external_libs/mqtt/paho.mqtt.cpp"]
	path = src/sp_backend/src/external_libs/mqtt/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
