[submodule "src/sp_backend/src/external_libs/mqtt/paho.mqtt.cpp"]
    path = src/sp_backend/src/external_libs/mqtt/paho.mqtt.cpp
    url = https://github.com/eclipse/paho.mqtt.cpp.git
    branch = v1.5.2
